.wklw_avatar{

	height:220.217px; 
	width:243.8px;
	max-width:243.8px;
}
.wklw_item_container{
	width:262.8px; height:415.217px;
}
.wklw_callme_now_online{
	background-color:#2cba26;
}
.wklw_callme_now_offline{
	background-color:#cb4114;
	
}