* {
  box-sizing: border-box;
}

.wap_container * input[type=text],.wap_container * select, .wap_container  * textarea ,.wap_container * input[type=email]  ,.wap_container * input[type=password]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.wap_container *  label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.wap_container * input[type=submit] {
  margin-top:10px;
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.wap_container * input[type=submit]:hover {

  background-color: #45a049;
}

.wap_container {
  border-radius: 5px;
  /*background-color: #f2f2f2;*/
  padding: 20px;
}

 .wap_container form .wap_row  .col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

 .wap_container form .wap_row  .col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.wap_row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
   .wap_container form .wap_row  .col-25,  .wap_container form .wap_row  .col-75, .wap_container * input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

div.entry-content div.artist_account_page   {
	display:flex;
}


div.entry-content div.artist_account_page  div.wap_sidenav {
  height: 100%;
  width: 140px;
  /*position: fixed;*/
  /*z-index: 1;
  top: 0;
  left: 0;*/
  /*background-color: #111;*/
  /*overflow-x: hidden;*/
  padding-top: 20px;
}

div.entry-content div.artist_account_page  div.wap_sidenav a.selected {
	color:red;
}
div.entry-content div.artist_account_page  div.wap_sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
/*  color: #818181;*/
  display: block;
}

div.entry-content div.artist_account_page  div.wap_sidenav a:hover {
  color: green;
}

div.entry-content div.artist_account_page div.wap_artist_page_content {
  /*margin-left: 160px;*/ /* Same as the width of the sidenav */
  font-size: 16px; /* Increased text to enable scrolling */
  padding: 20px 10px;
}

@media screen and (max-height: 450px) {
div.entry-content div.artist_account_page  div.wap_sidenav sidenav {padding-top: 15px;}
 div.entry-content div.artist_account_page  div.wap_sidenav sidenav a {font-size: 18px;}
}


